/.cache/
/bin/
/reports/
/.gocache/
/.gotmp/
*.log
*.tmp
*.zip
*.key
*.pem
*.pfx
verification-report_*.html
verification-report_*.json
kylin-report_*.html
kylin-report_*.json
upload-status*.json
FTP-Receiver.conf
Run-FTP.sh
